doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet' href='css/style.css')
    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="favicon-apple-touch-114.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-apple-touch-114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-apple-touch-144.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-apple-touch-144.png")
    link(rel="icon" type="image/vnd.microsoft.icon" sizes="32x32 48x48" href="favicon.ico")
    link(rel="icon" sizes="128x128" href="favicon.icns")
    link(rel="icon" href="favicon.png" type="image/x-icon")

    script(src='https://cjrtnc.leaningtech.com/2.3/loader.js')
  body
    #conclave.hide
      .editor
        .header
          .header-left
            a.link(id='saveLink' target="_blank") Save File
            a.link(id='sharingLink' target="_blank") Share Link
            span(id="sharingLinkInput" class="aside disappear")
            a.link(id='copyLink' target="_blank") Copy Link
            .copyStatus Copied!
          .header-right
            a.link(id='acknowledgements' target='_blank') Acknowledgements
        .source
          textarea()
      .output
        .header
          p#peerId Collaborators:
        .outputImage
          img(id='renderImage' src='assets/img/initializing-plantuml.png')
    .loading
      p Loading
      .sk-fading-circle
        .sk-circle1.sk-circle
        .sk-circle2.sk-circle
        .sk-circle3.sk-circle
        .sk-circle4.sk-circle
        .sk-circle5.sk-circle
        .sk-circle6.sk-circle
        .sk-circle7.sk-circle
        .sk-circle8.sk-circle
        .sk-circle9.sk-circle
        .sk-circle10.sk-circle
        .sk-circle11.sk-circle
        .sk-circle12.sk-circle
    script(src='js/main.js')
